@media (max-width: 768px) {

    main .grid {
        grid-template-columns: 1fr;
    }

    main .hello {
        text-align: center;
        flex-direction: column-reverse;
    }

    main p {
        text-align: center;
    }

    main .social {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
    }

    #projetos .container .cards {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 660px) {
    footer {
        text-align: center;
    }

    footer .container .like h4{
        display: none;
    }
}

@media (max-width: 500px) {
    #projetos .container .cards  {
        grid-template-columns: 1fr;
    }

    #projetos .container .cards .card .projectimage img {
        
        height: 35vh;
        
    }
}

