@media (max-width: 768px) {

    main .grid {
        grid-template-columns: 1fr;
    }

    main .hello {
        text-align: center;
        flex-direction: column-reverse;
    }

    main p {
        text-align: center;
    }

    main .social {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
    }

    #projetos .container .cards {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 660px) {
    footer {
        text-align: center;
    }

    footer .container .like h4{
        display: none;
    }
}

@media (max-width: 500px) {
    #projetos .container .cards  {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    #projetos .container .cards .card button {
        padding: 10px;
        border-radius: 10px;
        border: none;
        float: right;
        font-size: 16px;
        font-weight: 600;
    }

    #projetos .container {
        max-width: 900px;
        margin: 10px auto 0 auto;
        padding: 30px 10px 20px 10px;
    }

    #projetos .container .cards .card,
    #projetos .container .cards .card .projectimage img {
        border-radius: 15px;
    }

    #projetos .container .cards .card .projectimage img {    
        height: 35vh;   
    }
}

